html {
  body > .content {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/b/bb/Ewe_and_lamb_in_Kent.jpg");
    background-size: cover;
  }
  .top-content .items.current, .top-content .items.current .shadow-blocks {
    height: 52px;
  }
  .top-content .settings-button-panel a {
    padding-top: 14px;
  }
  .top-content {
    box-shadow: 0 5px 15px 0 #97989c;
    z-index: 10000;
  }
  .board-list, .board-edit form, .board-calendar .board-calendar-message, .list-switcher-wrapper {
    background-color: rgba(236, 239, 244, 0.95);
  }
  .board-lists > .board-list {
    margin-left: 15px;
    margin-top: 15px;
    .board-list-header {
      margin-top: 10px;
    }
  }
  .object-updated-at {
    display: none;
  }
}
