html body > .content {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/bb/Ewe_and_lamb_in_Kent.jpg");
  background-size: cover;
}
html .top-content {
  box-shadow: 0 5px 15px 0 #97989c;
  z-index: 2000;
}
html .board-list,
html .board-edit form,
html .board-calendar .board-calendar-message,
html .list-switcher-wrapper {
  background-color: rgba(236,239,244,0.95);
}
html .board-lists > .board-list {
  margin-left: 15px;
  margin-top: 15px;
}
html .board-lists > .board-list .board-list-header {
  margin-top: 10px;
}
